.header,
h1,
h2,
a {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    text-align: center;
    background-color: rgb(247, 148, 148);
}

.list,
p {
    font-size: 20px;
    background-color: hsl(300, 76%, 72%);
    font-family: Arial, Helvetica, sans-serif;   
}

img {
    height: auto;
    width: 500px;
}



