.header,
h1,
h2,
a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    background-color: rgb(247, 148, 148);
}

p,
ol {
    font-size: 20px;
    background-color: hsl(300, 76%, 72%);
    font-family: Arial, Helvetica, sans-serif;   
}

img {
    height: auto;
    width: 500px;
}

.list.ingredients {
    font-family: Garamond, Georgia, 'Times New Roman';
    font-size: 20px;
    color: #828af7;
    background-color: rgb(250, 169, 189);
    text-align: center;
}

.list .steps {
    font-family: 'Courier New';
    background-color: rgb(122, 168, 228);
    color: rgb(221, 81, 93);
}



